body {
  background-color: #C0D3AD;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;

}
h1 {
  font-size: 60px;
  margin-bottom: 0px;
}
h2 {
  margin-top: 0px;
}

.description {
  text-align: center;
  width: 80%;
  margin: auto;
}

.organizations {
  width: 80%;
  margin: auto;
}

.organizations h5 {
  margin-bottom: 0px;
}

.organizations p {
  margin-bottom: 0px;
}
.noCash {
  width: 80%;
  margin: auto;
}
.noCash p {
  margin-bottom: 0px;
}
